nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin: 2% 5%;
    font-weight: bolder;
}

a {
    color: blue;
}

h1 {
    font-size: 200%;
}

#questions {
    font-size: 120%;
    font-weight: bold;
}

.quiz {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

#start-screen {
    text-align: center;
    max-width: 300px;
    justify-content: center;
    position: relative;
    left: 40%;
}

#start-desc {
    padding-top: 5%;
}

button {
    background-color: lightskyblue;
    padding: 2px;
    border-color: blue;
    border-radius: 5px;
    margin: 5px;
    left: 50px;
}

button:hover {
    cursor: pointer;
    font-style: italic;
}

