:root {
    /* declare color variables to help with color cohesiveness and fast changes */
    --darkbg: #13293d;
    --lightbg: #72afe7;
    --textcolors: #fff;
  }

body {
    background-image: linear-gradient(to top, var(--lightbg), var(--darkbg));
    color: var(--textcolors);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin: 2% 5%;
    font-weight: bolder;
}

a {
    color: var(--textcolors);
}

h1 {
    font-size: 250%;
}

#questions {
    font-size: 120%;
    font-weight: bold;
}

.quiz {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

#start-screen {
    text-align: center;
    max-width: 300px;
    justify-content: center;
    position: relative;
    left: 40%;
}

#end-screen {
    text-align: center;
    max-width: 500px;
    justify-content: center;
    position: relative;
    left: 35%;
}

#submission {
    max-width: 600px;
}

#initials {
    max-width: 50px;
}

#end-screen p {
    margin: 5%;
}

h3 {
    font-size: 200%;
    font-weight: bold;
    padding: 5%;
}

#start-desc {
    padding-top: 5%;
}

button {
    background-color: lightskyblue;
    font-weight: 600;
    padding: 2px;
    border-color: darkgray;
    border-radius: 5px;
    margin: 7.5px;
    left: 50px;
}

button:hover {
    cursor: pointer;
    font-style: italic;
}

